*{
	margin: 0;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
html,body{
	height: 100%;
}
body{
	background: rgb(85,44,83);
	background: linear-gradient(90deg, rgba(85,44,83,1) 0%, rgba(50,64,133,1) 100%); 
	display: flex;
	justify-content: center;
}
.bck{
	width: 100%;
	height: 100%;
	min-height: 550px;
	background-image: url("recursos/background-login.jpg");
	background-size: cover;
	background-position: center;
	position: absolute;
	-webkit-animation: fundido 2s;
	-moz-animation: fundido 2s;
	animation: fundido 2s;
	z-index: -1;
}
@keyframes fundido{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.grad{
	position: absolute;
	width: 100vh;
	height: 100vh;
	background: linear-gradient(0deg, #00000038 30%, #ffffff44 100%);
}
.txt-blanco{
	color: white;
}
.login{
	background-color: rgba(53, 87, 105, 0.33);
	border-left: 1px solid rgba(137, 172, 205, 0.5);
	border-right: 1px solid rgba(137, 172, 205, 0.5);
	backdrop-filter: blur(25px);
	width: 550px;
	height: 100%;
	min-height: 550px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.login-cnt{
	max-width: 405px;
	width: 100%;
	max-height: 600px;
	height: 65%;
	min-height: 550px;
	font-family: 'Roboto';
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.logotipo{
	font-size: 90px;
	font-weight: 900;
	user-select: none;
}
.inputs-recuerda-recupera-inicia{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 45%;
	justify-content: space-around;
}
.inp{
	text-align: center;
	font-size: 17px;
	background-color: transparent;
    color: #C4C4C4;
	width: 200px;
    border: none;
    border-bottom: 1px solid #C4C4C4;
    padding: 3px 10px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
.inp:focus{
	width: 250px;
	color: white;
	border-bottom: 1px solid #1597E0;
}
.recuerda-recupera{
	font-size: 15px;
	width: 70%;
	display: flex;
	justify-content: space-between;
	user-select: none;
}
.recuerda{
	cursor: pointer;
}
.inicia{
	font-size: 18px;
	font-weight: bold;
	background: #1597E0;
	border: 1px solid #5BC4FF;
	width: 150px;
	height: 35px;
	margin-top: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
}
.inicia:hover{
	background: #17aaff;
	border: 1px solid #4ab5f3;
}
.registrar{
	margin-bottom: 20px;
	user-select: none;
}
.enl{
	color: #5BC4FF;
}
.enl:hover{
	color: #ade1ff;
}
@media screen and (max-width: 400px){
	.logotipo{
		font-size: 60px;
	}
}